@using OA.GYM.Web.Models.TrainingClasses
@model IEnumerable<TrainingClassListViewModel>

@{
    ViewData["Title"] = "TrainingClass";
}
<div class="container CU-classlistmargin">
<h1>Our <span class="CU-Color">Classes</span></h1>

<p>
    <a class="btn CU-CreateBtnClass" asp-action="Create">Create New</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
           <th>
                    @Html.DisplayNameFor(model => model.ClassTypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoachFullName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
             <td>
                @Html.DisplayFor(modelItem => item.ClassTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.CoachFullName)
            </td>
            <td>
                <a class="px-1" asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pencil"></i></a> |
                <a class="px-1" asp-action="Details" asp-route-id="@item.Id"><i class="fa-solid fa-circle-info"></i></a> |
                <a class="px-1" asp-action="Delete" asp-route-id="@item.Id"><i class="fa-solid fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>+