@using OA.GYM.Web.Models.TrainingClasses
@model IEnumerable<TrainingClassListViewModel>

@{
    ViewData["Title"] = "TrainingClass";
}
<div class="container CU-classlistmargin">
    <h1>Our <span class="CU-Color">Classes</span></h1>

    <p>
        <a class="btn CU-CreateBtnClass" asp-action="Create">Create New</a>
    </p>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ClassTypeName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CoachFullName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClassTypeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartTime)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.CoachFullName)
                    </td>
                    <td>
                        <a class="px-1" asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pencil"></i></a> |
                        <a class="px-1" asp-action="Details" asp-route-id="@item.Id"><i class="fa-solid fa-circle-info"></i></a> |
                        <a class="px-1" data-bs-toggle="modal" data-bs-target="#delete_@item.Id"><i class="fa-solid fa-trash"></i></a>

                        <!-- Modal -->
                        <div class="modal fade" id="delete_@item.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel"> Delete TrainingClass</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <h5> Are you sure you want to delete <span class="CU-Color">@item.ClassTypeName</span> Class?</h5>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                        <form asp-action="Delete">
                                            <input type="hidden" name="id" value="@item.Id" />
                                            <input type="submit" value="Delete" class="btn CU-CreateBtnClass">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>+